@import url(vars.css);
@import url(fonts.css);

/* --------------------Headings, Links, Paragraphs-------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "lato black";
    font-style: normal;
    color: var(--text-color-black);
}

h1 {
    font-size: 26px;
    line-height: 32px;
}

h2 {
    font-size: 22px;
    line-height: 27px;
}

h3 {
    font-size: 20px;
    line-height: 25px;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-family: "lato";
    font-style: normal;
    color: var(--text-color-black);
}

.link {
    color: var(--link-color-primary)
}

/* --------------------Buttons-------------------- */

.btn {
    padding: 10px;

    -webkit-box-shadow: none;

    box-shadow: none;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    -webkit-transition: all .25s;

    -o-transition: all .25s;

    transition: all .25s;

    text-align: center;
    height: 45px;
}

.btn:disabled {
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* btn_default */

.btn_default {
    color: var(--text-color-black);
    background: var(--color-white);

    border: 1px solid var(--border-color-default);
}

.btn_default:hover,
.btn-default:focus {
    border: 1px solid var(--border-color-hover)
}

.btn_default:disabled {
    color: var(--color-light-gray);

    border: 1px solid var(--border-color-default);
}

/* btn_primary */

.btn_primary {
    color: var(--text-color-white);
    background: var(--color-primary);

    -webkit-box-shadow: var(--btn-shadow-default);

    box-shadow: var(--btn-shadow-default);
}

.btn_primary:hover:enabled {
    -webkit-box-shadow: var(--btn-shadow-hover);
    box-shadow: var(--btn-shadow-hover)
}

.btn_primary:focus {
    color: var(--text-color-black);
    border: 1px solid var(--border-color-hover)
}

.btn_primary:disabled {
    background: var(--color-light-gray);
}

/* btn-link */

.btn-link {
    padding: 0px;
    cursor: pointer;

    font-size: 14px;
    color: var(--link-color-primary);
}

/* --------------------Search inputs-------------------- */

.search-container {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.search-form {
    width: 100%;
}

.search-container::before {
    content: "\e914";
    font-family: "bankiros";
    font-size: 15px;
    color: var(--color-light-gray);

    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search-container__clear-btn {
    font-size: 15px;
    color: var(--border-color-hover);

    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    cursor: pointer;
    display: none;
}

.search-container:focus-within .search-container__clear-btn {
    display: block;
}

.search-input {
    padding: 10px;
    padding-left: 40px;

    color: var(--color-light-gray);
    background: var(--bg-color-default);

    border: 1px solid var(--border-color-default);
    border-radius: 3px;
}

.search-input:focus {
    background: var(--color-white);
    border: 1px solid var(--border-color-focus);
}

.search-input:not(:-moz-placeholder-shown) {
    color: var(--text-color-black);
    background: var(--color-white);
}

.search-input:not(:-ms-input-placeholder) {
    color: var(--text-color-black);
    background: var(--color-white);
}

.search-input:not(:placeholder-shown) {
    color: var(--text-color-black);
    background: var(--color-white);
}

.search-input:disabled {
    cursor: not-allowed;
}

.search-container__disabled-btn {
    font-size: 15px;
    color: var(--color-light-gray);

    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    cursor: pointer;
}

/* --------------Divider-------------- */

.divider {
    height: 1px;
    background: var(--border-color-section);
}

.divider_main {
    margin: 30px calc((100dvw - 1200px) / -2);
    width: 100dvw;
}

@media (width > 768px) {
    .divider_main {
        margin: 40px calc((100dvw - 1200px) / -2);
    }
}


/* --------------Sections-------------- */

.section_bordered {
    padding: 20px;
    border: 1px solid var(--border-color-section);
    border-radius: 5px;
}

@media (width > 1024px) {
    .section_bordered {
        padding: 30px;
    }
}

/* --------------Cards-------------- */

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
    border: 1px solid var(--border-color-section);
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.card:hover {
    -webkit-box-shadow: 0px 5px 20px 0px rgba(51, 62, 80, 0.15);
    box-shadow: 0px 5px 20px 0px rgba(51, 62, 80, 0.15);
    cursor: pointer;
}

.card_iconed {
    position: relative;
}

.card__text {
    margin: 15px 0 20px 0;
}

.card__btn {
    margin-top: auto;
    width: 158px;
}

.card__image {
    position: absolute;
    bottom: 0;
    right: 0;

    height: 110px;
    width: 110px;

    z-index: -1;
}

@media (width > 768px) {
    .card__image {
        height: 130px;
        width: 130px;
    }
}

@media (width > 1024px) {
    .card {
        padding: 30px;
    }

    .card__image {
        height: 180px;
        width: 180px;
    }
}

/* --------------Select-------------- */

.selectric {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 86px;
    height: 35px;
    background: var(--color-white);
    padding: 7px 2.5px 7px 10px;
    border: 1px solid var(--border-color-section);
    border-radius: 3px;
}

.selectric .label {
    margin: 0px;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 22px;
    font-size: 16px;
    color: var(--text-color-black);
}

.selectric .button {
    height: 15px;
    width: 15px;
    font-size: 0px;
    position: relative;
}

.selectric:hover .button::after {
    border-top-color: var(--text-color-black);
    border-radius: 1px;
}

/* --------------Tabs-------------- */

.tab-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 32px;
    text-transform: uppercase;
    gap: 30px;
    border-bottom: 1px solid var(--border-color-section);
}

.list-item {
    cursor: pointer;
    color: var(--color-light-gray)
}

.list-item_active {
    position: relative;
    color: var(--text-color-black)
}

.list-item_active::after {
    content: "";
    position: absolute;
    bottom: -1.5px;
    height: 3px;
    left: 0;
    width: 100%;
    border-radius: 3px;
    background: var(--link-color-green);
}

.tab {
    display: none;
}

.tab_active {
    display: block;
}

/* --------------Tables-------------- */

.table {
    width: 100%;
}

.table_minimal tr {
    border-bottom: 1px solid var(--border-color-section);
}

.table_minimal tbody td {
    padding: 12px 0;
    vertical-align: middle;
}

.table_minimal thead td {
    font-size: 12px;
    line-height: 15px;
    color: var(--color-light-gray);

    padding-bottom: 12px;
}